/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  .card-deck .card {
    margin-bottom: 15px;
    margin-right:15px;
    width: 15em;
    height: 12em;
  }
  .deck{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 3em;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .card-deck .card {
    margin-bottom: 15px;
    margin-right:15px;
    width: 15em;
    height: 12em;
  }
  .deck{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #contact .container{
    margin-top: 6em;
  }
  #regular {    
    padding: 0 .5em;    
 }
 #regular .card {
   width: 9em;
   margin: 1em;
 }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .clients h5 {
    margin: 5px;
    padding: 1.5em 0;
    }
    .clients img {
      width: 20%;
      filter: grayscale(100);
      transition: all 0.4s ease-in-out;
      padding: 15px 0;
    }
    
    .hvrbox{
      height: 16em;
    }
    .hvrbox-layer_bottom{
      object-fit: cover;
    }
    .card-deck .card {
      margin-bottom: 15px;
      margin-right:15px;
      width: 15em;
      height: 12em;
    }
    .deck{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .section-title h2{    
      margin-top: 3em;
      }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .clients h5 {
    margin: 5px;
    padding: 1.5em 0;
    }
    .clients img {
      width: 20%;
      filter: grayscale(100);
      transition: all 0.4s ease-in-out;
      padding: 15px 0;
    }
    
    .hvrbox{
      height: 16em;
    }
    .hvrbox-layer_bottom{
      object-fit: cover;
    }
    .card-deck .card {
      margin-bottom: 15px;
      margin-right:15px;
      width: 15em;
      height: 12em;
    }
    .deck{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .aboutus{
      margin: 2em ;
      margin-left: 0;
    }
    #about,
    #philosophy,
    #vision,
    #quality,
    #provide {
      padding: 0 1em;    
    }  
    .abt-img{
      border-radius: 50%;
      width: 20em;
      height: 20em;
      margin: 1em;
    }
    .flex-row-reverse .aboutus {
      margin-left: 0;
    }
    .section-title h2{    
      margin-top: 3em;
      }
      #regular {    
        padding: 0 .5em;    
     }
     #regular .card {
       width: 9em;
       margin: 1em;
     }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  
  .slider {
    margin: 7em 0 0 0;
    height: 14em!important;
    opacity: 0.9;
    background-color: #000;
  }
  .clients h5 {
  font-size: .6em;
  margin: 5px;
  padding: 1.5em 0;
  }
  .clients img {
    width: 20%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    padding: 15px 0;
  }
  
  .hvrbox{
    height: 12em;
  }
  .hvrbox-layer_bottom{
    object-fit: cover;
  }
  .card-deck .card {
    margin-bottom: 15px;
    margin-right:15px;
    width: 8.5em;
    height: 16em;
  }
  .deck{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .aboutus{
    margin: 2em ;
    margin-left: 0;
  }
  #about,
  #philosophy,
  #vision,
  #quality,
  #provide {
    padding: 0 1em;    
  }  
  .about-flex{
    display: flex;
    flex-direction: column;
  }
  #philosophy .about-flex{
    display: flex!important;
    flex-direction: column-reverse!important;
  }
  .abt-img{
    border-radius: 50%;
    width: 20em;
    height: 20em;
    margin: 1em;
  }
  .flex-row-reverse .aboutus {
    margin-left: 0;
  }
  .section-title h2{    
    margin-top: 3em;
  }
  #regular {    
    padding: 0 .5em;    
 }
 #regular .card {
   width: 9em;
   margin: 1em;
 }
 .product-details{
  display: flex;
  flex-direction: column;
}
.product-img-b {
 width: 19em;
 height: 23em;
 margin: .5em 1em;
 padding: 0 2em 0 0;
 border-right: none;
 }
 .product-img-a {
   width: 3em;
   height: 5em;
   margin: .5em 0;
}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  
  .slider {
    margin: 7em 0 0 0;
    height: 14em!important;
    opacity: 0.9;
    background-color: #000;
  }
  .clients h5 {
  font-size: .6em;
  margin: 5px;
  padding: 1.5em 0;
  }
  .clients img {
    width: 20%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    padding: 15px 0;
  }
  
  .hvrbox{
    height: 8em;
  }
  .hvrbox-layer_bottom{
    object-fit: cover;
  }
  .card-deck .card {
    margin-bottom: 15px;
    margin-right:15px;
    width: 8.5em;
    height: 16em;
  }
  .deck{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .aboutus{
    margin: 2em ;
    margin-left: 0;
  }
  #about,
  #philosophy,
  #vision,
  #quality,
  #provide {
    padding: 0 1em;    
  }  
  .about-flex{
    display: flex;
    flex-direction: column;
  }
  #philosophy .about-flex{
    display: flex!important;
    flex-direction: column-reverse!important;
  }
  .abt-img{
    border-radius: 50%;
    width: 20em;
    height: 20em;
    margin: 1em;
  }
  .flex-row-reverse .aboutus {
    margin-left: 0;
  }
  .section-title h2{    
  margin-top: 3em;
  }
  #regular {    
    padding: 0 .5em;    
 }
 #regular .card {
   width: 9em;
   margin: 1em;
 }
 .product-details{
   display: flex;
   flex-direction: column;
 }
 .product-img-b {
  width: 19em;
  height: 23em;
  margin: .5em 1em;
  padding: 0 2em 0 0;
  border-right: none;
  }
  .product-img-a {
    width: 3em;
    height: 5em;
    margin: .5em 0;
  }
  
}